<h2>Categories</h2>
</br>
<table border ="true" width="40%">
  <tr align ="left"  bgcolor = "#c8860b">
    <th>Category</th>
    <th colspan="3" >Actions</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.category %></td>
    <td><%= link_to 'Show', category %></td>
    <% if category.category != "anonymous" %>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Category', new_category_path %>
